@font-face {
    font-family: "Argentum Sans Light";
    src: url("./assets/fonts/hinted-ArgentumSans-Light.ttf") format("ttf");
  }

@font-face {
    font-family: "Argentum Sans Semibold";
    src: url("./assets/fonts/hinted-ArgentumSans-SemiBold.ttf") format("ttf");
  }

* {
    font-family: 'Argentum Sans Semibold', sans-serif;
    width: 100%;
    font-size: medium;
}

.bi {
    font-family: "bootstrap-icons" !important;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    line-height: 1;
  }

  .bi-plus-circle::before {
    content: "\f4fa";
  }


:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: #5c068c;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: xx-large;
}

h2 {
    font-size: x-large;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  width: 65%;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #5c068c;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.app-container {
    background-color: #ffffff;
    width: 100%;
    align-items: center;
}

.app-header {
    background-color: #5c068c;
    height: 70px;
    width: 90%;
    align-items: flex-start;
    align-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.app-footer {
    background-color: #c1c1c1;
    height: 35px;
    align-content: center;
    justify-items: center;

    color: #414141;
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align-last: center;
}

.app-header h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.grid-admin {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    row-gap: 15%;
    column-gap: 5%;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-top: 2.5%;
    margin-bottom: 5%;
    width: 95%;
}

.logo {
    height: 90%;
    width: auto;
}

.content {
    margin-top: 2.5%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.login-container {
    justify-self: center;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    background-color: #ededed;
    padding: 3%;
    margin-top: 3.5%;
}

.form-control {
    background-color: white;
    color: black;
    font-family: 'Argentum Sans Light';
    margin-top: 2.5%;
    height: 30px;
    border: 0px;
    border-bottom: 3px solid black;
    width: 95%;
    border-radius: 3px;
    padding-right: 2.5%;
    padding-left: 2.5%;
}

.form-control:focus {
    outline: 1.75px solid black;
}

.btn, me-2 {
    justify-self: center;
    margin-top: 2.5%;
    width: 100%;
    box-shadow: 0 3px 5px #bec0ba;
}

.btn:hover, me-2:hover {
    background-color: #313d4b;
    color: #d6d8d2;
    box-shadow: none;
}

.mb-3 {
    margin-bottom: 5%;
}

.table {
    width: auto;
    table-layout: fixed;
    border-spacing: 0;
  }

.table th,
.table td {
    white-space: nowrap;
    width: 1%;
    text-align: left;
    vertical-align: middle;
}

.table td {
    font-family: 'Argentum Sans Light';
}

.table-button-container {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    font-family: 'Argentum Sans Semibold';
    font-size: smaller;
}

.table tbody tr td {
    border-bottom: 2px solid #dee2e6;
}

.table thead tr th {
    border-bottom: 2px solid #a7aaad;
}

.table tbody tr:hover {
    background-color: #dbdbdb !important;
  }

.page-header-buttons {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
    font-size:small;
    height: 90%;
    align-self: center;
}
