@font-face {
    font-family: "Argentum Sans Light";
    src: url("./assets/fonts/hinted-ArgentumSans-Light.ttf") format("ttf");
  }

@font-face {
    font-family: "Argentum Sans Semibold";
    src: url("./assets/fonts/hinted-ArgentumSans-SemiBold.ttf") format("ttf");
  }

* {
    font-family: 'Argentum Sans Semibold', sans-serif;
    width: 100%;
    font-size: medium;
}

.bi {
    font-family: "bootstrap-icons" !important;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    line-height: 1;
  }

  .bi-plus-circle::before {
    content: "\f4fa";
  }


:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: #5c068c;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  height: 100%;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: xx-large;
}

h2 {
    font-size: x-large;
}

button {
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: medium;
    background-color: #5c068c;
    cursor: pointer;
    justify-self: right;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 5px #bec0ba;
}

button:hover {
    background-color: #313d4b;
    color: #d6d8d2;
    box-shadow: none;
}

.app-container {
    background-color: #ffffff;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-header {
    background-color: #5c068c;
    height: 70px;
    width: 90%;
    align-items: flex-start;
    align-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.app-footer {
    background-color: #c1c1c1;
    height: 35px;
    color: #414141;
    width: 100%;
    text-align: center;
    margin-top: 2.5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.grid-admin {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    row-gap: 15%;
    column-gap: 5%;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-top: 2.5%;
    width: 95%;
}

.logo {
    height: 90%;
    width: auto;
}

.content {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;

    flex: 1;
}


.login-form {
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    align-content: center;
    gap: 5%;

}

.element-container {
    justify-self: center;
    justify-items: center;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    background-color: #ededed;
    padding: 3%;
    margin-top: 2.5%;
    max-width: calc(93% + 4px);
}

.element-form {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
}

.login-container {
    justify-self: center;
    justify-items: center;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    background-color: #ededed;
    padding: 3%;
    margin-top: 3.5%;
    max-width: 40%;
}

.form-label {
    margin: 0px;
    margin-bottom: 2.5%;
}

option {
    font-family: "Argentum Sans Light";
}

textarea {
    width: 100%;
    resize: vertical;

    min-height: 22.5px;
    padding-top: 0.5%;
}

.plugged-in-list {
    margin-top: 4.5%;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.form-control {
    background-color: white;
    color: black;
    font-family: 'Argentum Sans Light';
    height: 30px;
    border: 0px;
    border-bottom: 3px solid black;
    width: 95%;
    border-radius: 3px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin-bottom: 2.5%;
}

select.form-control {
    width: 100%;
}

button.new-button {
    margin: 0px;
    width: 50%;
}

.form-control:hover {
    outline: 1.75px solid #dbdbdb;
}

.form-control:focus {
    outline: 1.75px solid black;
}

.login-button {
    width: 65%;
    justify-self: center;
    height: 90%;
}

.table {
    width: auto;
    table-layout: fixed;
    border-spacing: 0;
  }

.table th,
.table td {
    white-space: nowrap;
    width: 1%;
    text-align: left;
    vertical-align: middle;
}

tr {
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.table td {
    font-family: 'Argentum Sans Light';
}

.table-button-container {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    font-family: 'Argentum Sans Semibold';
    font-size: smaller;
}

.table tbody tr td {
    border-bottom: 2px solid #dee2e6;
}

.table thead tr th {
    border-bottom: 2px solid #a7aaad;
}

.table tbody tr:hover {
    background-color: #dbdbdb !important;
  }

.page-header-buttons {
    display: grid;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    grid-gap: 1%;
    height: 100%;
    align-self: center;
}

.skeleton-cell {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(
      90deg,
      #e0e0e0 25%,
      #f5f5f5 37%,
      #e0e0e0 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.4s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
}


.table-button, .icon-button {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 6.5%;

    height: 100%;
    width: 100%;

    padding-top: 5%;
    padding-bottom: 5%;
}

.table-button {
    height: 95%;
    align-self: center;
}

.table-button i, .icon-button i{
    display: inline-flex;
    align-items: center;
    width: auto;
}

.table-button .button-text, .icon-button .button-text {
    width: auto;
    white-space: nowrap;
    font-size: small;
}

.icon-button .button-text {
    font-size: auto;
}
